---
const { textMobile, textDesktop, link, backgroundColor, textColor, size, additionalClasses } = Astro.props;
---

<a href={link} 
   target="_blank" 
   class={`block ${size === 'large' ? 'px-8 py-4' : 'px-6 py-3'} 
          ${additionalClasses || ''} 
          uppercase text-sm md:text-base 
          transition-transform duration-300 transform 
          rounded-2xl border-[20px] 
          hover:scale-105 hover:bg-white hover:text-orange-600 
          ${size === 'large' ? 'sm:px-8 sm:py-4' : 'sm:px-6 sm:py-3'}
          sm:text-left`}
   style={`background-color: ${backgroundColor}; color: ${textColor};`}>
    
    <!-- Tekst for mobil -->
    <span class="block sm:hidden">{textMobile}</span>
    
    <!-- Tekst for desktop -->
    <span class="hidden sm:block">{textDesktop}</span>
</a>
