---
const { textMobile, textDesktop, link, backgroundColor, textColor, size, additionalClasses } = Astro.props;
---

<a href={link} 
   target="_blank" 
   class={`block ${size === 'large' ? 'px-8 py-4' : 'px-6 py-3'} 
          ${additionalClasses || ''} 
          text-sm md:text-base uppercase 
          transition-transform duration-300 transform 
          rounded-2xl hover:scale-105 hover:bg-white 
          hover:text-orange-600 border-[20px]`}
   style={`background-color: ${backgroundColor}; color: ${textColor};`}>
    
    <!-- Tekst for mobil -->
    <span class="block sm:hidden">{textMobile}</span>
    
    <!-- Tekst for desktop -->
    <span class="hidden sm:block">{textDesktop}</span>
</a>
