---
import { Image } from 'astro:assets';
import instagram from "../assets/images/ig-ikon.png";
import facebook from "../assets/images/fb-ikon.png";
import youtube from "../assets/images/yt-ikon.png";
import tiktok from "../assets/images/tiktok-ikon.png";
import mail from "../assets/images/mail-ikon.png";
import linkdin from "../assets/images/linkedin-ikon.png";
import skype from "../assets/images/skype-ikon.png";
import samarbejd from "../assets/images/samarbejd.png";
---

<div class="max-w-screen-xl mx-auto"></div>

<section class="flex flex-col gap-20 justify-center md:flex-row mt-20 mb-20 text-center md:text-left">
<div>
    <div class="flex flex-col gap-2 mb-8">
    <p class=" text-md uppercase font-black text-black text-2xl mb-3" style="font-family: 'Onest-Regular', sans-serif;">HØJSKOLENDK</p>
    <p class="" style="font-family: 'Albert Sans', sans-serif;">Rosenørns Allé 29</p>
    <p class="" style="font-family: 'Albert Sans', sans-serif;">1970 Frederiksberg</p>
    <p class="" style="font-family: 'Albert Sans', sans-serif;">Danmark</p>
</div>
<div class="flex gap-5 justify-center md:justify-start">
<a href="https://www.facebook.com/hojskolendk/"><Image src={facebook} alt="Facebook" class=""/></a>
<a href="https://www.instagram.com/hojskolendk/"><Image src={instagram} alt="Instagram" class=""/></a>
<a href="https://www.youtube.com/user/HOJSKOLENDK"><Image src={youtube} alt="Youtube" class=""/></a>
<a href="https://www.tiktok.com/@hojskolendk"><Image src={tiktok} alt="Tiktok" class=""/></a>
</div>
</div>

<div>
    <div class="flex flex-col gap-2 mb-8">
    <p class="text-md uppercase font-black text-black text-2xl mb-3" style="font-family: 'Onest-Regular', sans-serif;">KONTAKT</p>
    <p class="" style="font-family: 'Albert Sans', sans-serif;">Telefon: 7027 9007</p>
    <p class="" style="font-family: 'Albert Sans', sans-serif;">Mandag til Fredag // Kl. 10.00-16.00</p>
    <p class="" style="font-family: 'Albert Sans', sans-serif;">Mail: info@hojskolendk.dk</p>
</div>
<div class="flex gap-5 justify-center md:justify-start">
<a href="https://www.hojskolendk.dk/"><Image src={mail} alt="Mail" class="hover:scale-105"/></a>
<a href="https://www.linkedin.com/company/h-jskolen-dk/"><Image src={linkdin} alt="LinkedIn" class=""/></a>
<a href="https://www.hojskolendk.dk/"><Image src={skype} alt="Skype" class=""/></a>
</div>
</div>

<div class="flex flex-col justify-center md:justify-start">
    <p class="text-md uppercase font-black text-black text-2xl mb-3">SAMARBEJDSPARTNERE</p>
<Image src={samarbejd} alt="Samarbejdspartnere" class="w-4/5 mx-auto md:m-0"/>
</div>
</section>

<div class="flex flex-col gap-2 md:gap-32 md:flex-row justify-center mb-5 text-center md:text-left">
    <p class="text-xs">HÖJSKOLENDK er medlem af Rejsegarantifonden.</p>
    <p class="text-xs">Handelsbetingelser / Cookiepolitik / Data- & Privatlivspolitik</p>
    <p class="text-xs">Copyright © HÖJSKOLENDK 2022 • CVR 32491162</p>
</div>
