---
import { Image } from 'astro:assets';
import ig1 from "../assets/images/ig1.png";
import ig2 from "../assets/images/ig2.png";
import ig3 from "../assets/images/ig3.png";
import ig4 from "../assets/images/ig4.png";
import ig5 from "../assets/images/ig5.png";
import ig6 from "../assets/images/ig6.png";
import ig7 from "../assets/images/ig7.png";
import ig8 from "../assets/images/ig8.png";
---
<section class="flex flex-col mt-20">
<div class="flex flex-col gap-4 justify-center md:ml-36">
    <h3 class="text-md uppercase text-black sm:text-lg md:text-xl text-center md:text-left" style="font-family: 'Onest-Regular', sans-serif;" >
        VI OPDATERER OFTE VORES FEED MED DE VILDESTE OPLEVELSER</h3>
    <h2 class="text-xl uppercase font-black text-black sm:text-2xl md:text-4xl text-center md:text-left" style="font-family: 'Onest-Black', sans-serif;">
        FØLG MED PÅ VORES INSTAGRAM</h2>
</div>

<section class=" flex flex-col md:flex-row gap-5 justify-center mb-20 mt-16">
    <div class="md:flex-row justify-center gap-5">
        <div class="flex justify-center gap-5">
            <a href="https://www.instagram.com/hojskolendk/"><Image src={ig1} alt="Instagram 1" class="w-52 md:w-72 mb-5"/></a>
            <a href="https://www.instagram.com/hojskolendk/"><Image src={ig2} alt="Instagram 2" class="w-52 md:w-72 mb-5"/></a>
        </div>
    <div class="flex justify-center gap-5">
            <a href="https://www.instagram.com/hojskolendk/"><Image src={ig3} alt="Instagram 3" class="w-52 md:w-72 md:mb-5"/></a>
            <a href="https://www.instagram.com/hojskolendk/"><Image src={ig4} alt="Instagram 4" class="w-52 md:w-72 md:mb-5"/></a>
    </div>
    </div>
    <div class="md:flex-row justify-center">
        <div class="flex justify-center gap-5">
            <a href="https://www.instagram.com/hojskolendk/"><Image src={ig5} alt="Instagram 5" class="w-52 md:w-72 mb-5"/></a>
            <a href="https://www.instagram.com/hojskolendk/"><Image src={ig6} alt="Instagram 6" class="w-52 md:w-72 mb-5"/></a>
    </div>
    <div class="flex justify-center gap-5">
            <a href="https://www.instagram.com/hojskolendk/"><Image src={ig7} alt="Instagram 7" class="w-52 md:w-72 md:mb-5"/></a>
            <a href="https://www.instagram.com/hojskolendk/"><Image src={ig8} alt="Instagram 8" class="w-52 md:w-72 md:mb-5"/></a>
    </div>
</div>
</section>
</section>