---
import { Image } from 'astro:assets';
import scroll1 from "../assets/images/scroll1.png";
import scroll2 from "../assets/images/scroll2.png";
import scroll3 from "../assets/images/scroll3.png";
import scroll4 from "../assets/images/scroll4.png";
import scroll5 from "../assets/images/scroll5.png";
import scroll6 from "../assets/images/scroll6.png";
import scroll7 from "../assets/images/scroll7.png";
import scroll8 from "../assets/images/scroll8.png";
---
<section>
    <!-- tekst -->
<div class="text-center md:text-left md:pl-32">
    <h3 class="pb-6 text-sm md:text-lg" style="font-family: 'Onest-Regular', sans-serif;">HVILKEN HØJSKOLE ER DIN FAVORIT? </h3>
    <h2 class="font-bold text-3xl md:text-4xl" style="font-family: 'Onest Black', sans-serif;">HØJSKOLE I UDLANDET - VÆLG DIT EVENTYR!</h2>
</div>


<div class="relative pt-16 pb-20 mx-24 md:mx-44 md:ml-32">
  <!-- Karrusel Container -->
  <div class="flex items-center overflow-x-auto whitespace-nowrap scroll-smooth md:pt-5 md:pb-5 md:pl-5">
    <!-- Knap til scrolling (venstre) -->
    <button id="scroll-left" class="text-4xl z-10 absolute -left-12 top-1/2 transform -translate-y-1/2" style="color:#7794B0">
      ←
    </button>

<a href="/card">
   <!-- Karrusel Billeder med tekst -->
   <div class="flex md:gap-14 gap-14 ">
  
    <!-- Billede 1 -->
      <div class="w-80 h-full md:w-1/4 flex-shrink-0 relative transition transform hover:scale-105">
        <h4 class="text-white text-2xl md:text-6xl absolute inset-0 flex items-center justify-center text-center z-10" style="font-family: 'Londrina Solid', sans-serif;">
          MALDIVERNE, <br> SRI LANKA, <br> BALI <br> & GILI <br> ISLANDS
        </h4>
        <Image src={scroll1} alt="gruppe af unge mennesker sammen" class="w-full h-full object-cover rounded-3xl" />
      </div>


    <!-- Billede 2 -->
    <div class="w-80 h-full md:w-1/4 flex-shrink-0 relative transition transform hover:scale-105">
      <h4 class="text-white text-2xl md:text-6xl absolute inset-0 flex items-center justify-center text-center z-10" style="font-family: 'Londrina Solid', sans-serif;">
        AUSTRALIEN, <br> NZ, BALI <br> & GILI <br> ISLANDS
      </h4>
      <Image src={scroll2} alt="gruppe af unge mennesker sammen" class="w-full h-full object-cover rounded-3xl" />
    </div>

    <!-- Billede 3 -->
    <div class="w-80 h-full md:w-1/4 flex-shrink-0 relative transition transform hover:scale-105">
        <h4 class="text-white text-2xl md:text-6xl absolute inset-0 flex items-center justify-center text-center md:p- z-10" style="font-family: 'Londrina Solid', sans-serif;">
          HAWAII,<br> AUSTRALIEN, <br> JAPAN, <br> BALI <br> & GILI <br> ISLANDS
        </h4>
      <Image src={scroll3} alt="gruppe af unge mennesker sammen" class="w-full h-full object-cover rounded-3xl" />
    </div>

    <!-- Billede 4 -->
    <div class="w-80 h-full md:w-1/4 flex-shrink-0 relative transition transform hover:scale-105">
      <h4 class="text-white text-2xl md:text-6xl absolute inset-0 flex items-center justify-center text-center z-10" style="font-family: 'Londrina Solid', sans-serif;">
        AUSTRALIEN, <br> JAPAN, <br> BALI & GILI <br> ISLANDS        
      </h4>
      <Image src={scroll4} alt="gruppe af unge mennesker sammen" class="w-full h-full object-cover rounded-3xl" />
    </div>

    <!-- Billede 5 -->
    <div class="w-80 h-full md:w-1/4 flex-shrink-0 relative transition transform hover:scale-105">
      <h4 class="text-white text-2xl md:text-6xl absolute inset-0 flex items-center justify-center text-center z-10" style="font-family: 'Londrina Solid', sans-serif;">
        CARIBIEN,<br>HAWAII & <br> MEXICO
      </h4>
      <Image src={scroll5} alt="gruppe af unge mennesker sammen" class="w-full h-full object-cover rounded-3xl" />
    </div>

    <!-- Billede 6 -->
    <div class="w-80 h-full md:w-1/4 flex-shrink-0 relative transition transform hover:scale-105">
      <h4 class="text-white text-2xl md:text-6xl absolute inset-0 flex items-center justify-center text-center z-10" style="font-family: 'Londrina Solid', sans-serif;">
        BRASILIEN,<br> BOLIVIA,<br> COLOMBIA,<br> ECUADOR,<br> PERU & <br> ARGENTINA
      </h4>
      <Image src={scroll6} alt="gruppe af unge mennesker sammen" class="w-full h-full object-cover rounded-3xl" />
    </div>

    <!-- Billede 7 -->
    <div class="w-80 h-full md:w-1/4 flex-shrink-0 relative transition transform hover:scale-105">
      <h4 class="text-white text-2xl md:text-6xl absolute inset-0 flex items-center justify-center text-center z-10" style="font-family: 'Londrina Solid', sans-serif;">
        COSTA RICA,<br> MEXICO & <br> COLOMBIA       
       </h4>
      <Image src={scroll7} alt="gruppe af unge mennesker sammen" class="w-full h-full object-cover rounded-3xl" />
    </div>

    <!-- Billede 8 -->
    <div class="w-80 h-full md:w-1/4 flex-shrink-0 relative transition transform hover:scale-105">
      <h4 class="text-white text-2xl md:text-6xl absolute inset-0 flex items-center justify-center text-center z-10" style="font-family: 'Londrina Solid', sans-serif;">
        INDIEN,<br> NEPAL,<br> THAILAND,<br> VIETNAM & <br> SRI LANKA
      </h4>
      <Image src={scroll8} alt="gruppe af unge mennesker sammen" class="w-full h-full object-cover rounded-3xl" />
    </div>
  </div>
</a>
   






    
  </div>

  <!-- Knap til scrolling (højre) -->
  <button id="scroll-right" class="text-4xl z-10 absolute -right-12 top-1/2 transform -translate-y-1/2" style="color:#7794B0">
    →
  </button>
</div>


<script>
document.getElementById('scroll-left').addEventListener('click', function() {
  const scrollContainer = document.querySelector('.overflow-x-auto');
  scrollContainer.scrollBy({
    left: -scrollContainer.clientWidth / 4, // Scroll med en fjerdedel af containerens bredde
    behavior: 'smooth'
  });
});

document.getElementById('scroll-right').addEventListener('click', function() {
  const scrollContainer = document.querySelector('.overflow-x-auto');
  scrollContainer.scrollBy({
    left: scrollContainer.clientWidth / 4, // Scroll med en fjerdedel af containerens bredde
    behavior: 'smooth'
  });
});


</script>